beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
futures==3.1.1
goslate==1.5.1
idna==2.9
PyAudio==0.2.11
PyDictionary==1.5.2
pygame==1.9.6
pypiwin32==223
pyttsx3==2.71
pywin32==227
requests==2.23.0
soupsieve==2.0
SpeechRecognition==3.8.1
urllib3==1.25.8
wikipedia==1.4.0
